body {
    color: black;
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: bold;
}

.boxes {
    height: 346px;
}

.wrapper {
    display: grid;
    margin: 50px auto;
    max-width: 800px;
    grid-template-columns: 48% 0% 48%;
    grid-template-rows: auto;
}


.s1 {
    grid-column: 1 / 2;
    background: #dde0d8;
}

.s2 {
    grid-column: 3 / 4;
    background: linear-gradient( 41deg, #e76b11 0%, #e76b11 51%, #000 51%, #000 71%, #000 100%);
}


.s3 {
    font-weight: bold;
    font-size: 1.7em;
    grid-column: 1 / 2;
    background: linear-gradient( 138deg, #e76b11 0%, #e76b11 51%, #000 51%, #000 71%, #000 100%);
}

.s4 {
    font-weight: bold;
    font-size: 1.7em;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    background: #dde0d8;
}


.s5 {
    grid-column: 3 / 4;
    background: #dde0d8;
}

.s6 {
    grid-column: 3 / 4;
    background: linear-gradient( 138deg, #e76b11 0%, #e76b11 51%, #000 51%, #000 71%, #000 100%);
}


.s2 p {
    padding-top: 210px;
    padding-left: 15px;
}


.s6 p {
    padding-top: 30px;
    padding-left: 15px;
}

.s5 p {
    padding-top: 30px;
    padding-left: 15px;
}

.s5 h1 {
    font-size: 90px;
    padding-top: 50px;
    padding-left: 15px;
    font-weight: bold;
}


@media(max-width:767px) {
    .s5 h1 {
        font-size: 40px;
    }
}
